.header {
  display: flex;
  width: calc(100% - 300px);

  background-color: #0d0d0d;
  box-shadow: 0 5px 22px rgba($black, .25);

  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.header__left {
  width: 60%;
}

.header__right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}