.pagination {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.pagination__item {
  margin: 0 .5rem;
}

.pagination__link {
  display: block;
  width: 4rem;
  height: 4rem;
  background-color: #0d0d0d;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba($black, .15);

  font-size: 1.4rem;
  line-height: 4rem;
  color: $white;
  text-align: center;
  text-decoration: none;

  transition: background-color .2s linear;

  &:hover {
    background-color: darken(#0d0d0d, 5%);
  }

  &.active {
    background-color: $blue;
    box-shadow: 0 0 10px rgba($blue, .15);
  }
}