.related {
  padding: 3rem 0 .5rem;

  border-bottom: 1px solid #1c1c1c;
}

.related__title {
  margin-bottom: 2rem;

  font-size: 1.6rem;
  line-height: 1.3;
  color: $white;
  font-weight: 500;
}

.related__list {
  display: flex;
  flex-wrap: wrap;
}

.related__list-item {
  width: 50%;
  margin-bottom: 2.5rem;
}

.related__list-title {
  color: #f3eba2;
  font-size: 1.4rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  a {
    color: inherit;
  }
}

.related__list-date {
  color: #828282;
  font-size: 1.2rem;
}