*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 62.5% от 16px(дефолт знач шрифта в браузере) = 10px */
}

body {
  background-color: #181818;

  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.4rem; /* 1.4 * 10px = 14px */
  line-height: 1.5;
  color: $white;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}