@import 'colors';
@import 'vendor/reset';
@import 'general';


@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/search';
@import 'blocks/subnav';
@import 'blocks/sidebar';
@import 'blocks/main';
@import 'blocks/container';
@import 'blocks/profile';
@import 'blocks/social';
@import 'blocks/btn';
